@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut"
        , "UserAccount"
        , new { area = "UserAccount" }
    , FormMethod.Post
    , new { id = "logoutForm", @class = "navbar-right navbarItemsEmptyClass" }
    )

    )
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">



            <li class="">
                <a href="#">
                    <span class="glyphicon glyphicon-bell" style="font-size: 10px;"></span>
                    <span class="badge badge-notify" style="font-size: 11px; min-width: 5px; width: 18px;">9</span>
                </a>
            </li>

            <li class="mouseOverHover">

                @Html.Label("Hello " + User.Identity.GetUserName(), new { id = "GetLoggedInUserDetails", @class = "navbarItemsEmptyClass ", style = " padding-top: 15px; padding-left: 5px; color: white; cursor: pointer;   padding-bottom: 9px; padding-right: 5px;", })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "UserAccount", new { area = "UserAccount" }, htmlAttributes: new { id = "registerLink", @class = "navbarItemsEmptyClass" })</li>
        <li>@Html.ActionLink("Log in", "Login", "UserAccount", new { area = "UserAccount" }, htmlAttributes: new { id = "loginLink", @class = "navbarItemsEmptyClass" })</li>
    </ul>
}



<script type="text/javascript">


    $('#GetLoggedInUserDetails').click(function () {
    JsManagement.GetLoggedInUserDetails();

});   //end send notification click handler

</script>